---
import Layout from "../layouts/Layout.astro";
import Banner from "../components/Banner.astro";
import About from "../components/About.astro";
---

<Layout title="Portafolio David Cardozo">
  <main>
    <Banner />
    <About />
  </main>
</Layout>
