---

---

<div class="about" id="about">
  <div class="text">
    <h1>About Me</h1>
    <p>
      I'm a 17-year-old with a passion for web development and security I'm
      looking for my first job opportunity. I'm 4 years old experience in web
      development, with <span>HTML, CSS, and JS</span>, and recently I've
      started working with the <span>Framework of Astro</span>. I'm willing to
      learn in at all times, and with all the disposition available.
    </p>
  </div>
</div>

<style>
  .about {
    width: 100%;
    height: 100%;
    background-color: #060f0e;
    background-image: radial-gradient(
      rgba(116, 109, 109, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
  }

  .about {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text {
    width: 40%;
    text-align: center;
  }

  h1 {
    margin: 40px 0;
    text-align: center;
    color: #8c6961;
    font-size: 50px;
  }

  .text p {
    line-height: 28px;
    color: white;
    font-size: 15px;
  }

  .text p > span {
    color: #1d4273;
    font-weight: bold;
  }
</style>
