---

---

<div class="about" id="about">
  <div class="text">
    <h1>About Me</h1>
    <p>
      I'm a 17-year-old with a passion for web development and security I'm looking for my first job opportunity. I'm 4 years old
      experience in web development, with <span>HTML, CSS, and JS</span>, and recently I've started working with the <span
        >Framework of Astro</span
      >. I'm willing to learn in at all times, and with all the disposition available.
    </p>
  </div>
</div>

<style>
  .about {
    width: 100%;
    height: 100%;
    background-color: #101824;
    background-image: radial-gradient(rgba(153, 152, 152, 0.15) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
  }

  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
  }

  .text {
    width: 40%;
    text-align: center;
  }

  h1 {
    margin: 40px 0;
    text-align: center;
    color: #121c2b;
    -webkit-text-stroke: 0.5px white;
    font-size: 50px;
  }

  .text p {
    line-height: 28px;
    color: white;
    font-size: 15px;
  }

  .text p > span {
    color: #1d4273;
    font-weight: bold;
  }

  /* -------------------------------------------------------------------------- */
  /*                                    MEDIA                                   */
  /* -------------------------------------------------------------------------- */

  @media (max-width: 480px) {
    /* Estilos para dispositivos móviles */
    .about {
      padding: 100px 0;
    }

    .text {
      width: 70%;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tabletas */
    .about {
      padding: 100px 0;
    }

    .text {
      width: 70%;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas pequeñas */
    .about {
      padding: 100px 0;
    }

    .text {
      width: 70%;
    }
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes */
    .about {
      padding: 100px 0;
    }

    .text {
      width: 60%;
    }
  }
</style>
