---

---

<div class="banner" id="home">
  <div class="navbar">
    <span class="name">David Cardozo</span>
    <span class="navbar_icon" id="btn"><i class="fa-solid fa-bars"></i></span>
    <div class="navbar_list" id="navbar">
      <nav>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#skills">My Skills</a></li>
          <li><a href="#prt">Proyects</a></li>
          <li><a href="#">Writeups</a></li>
          <li><a href="#contact">Contact Me</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="text">
    <div class="text_title">
      <h1>
        David Cardozo <span>Developer Web and Hacker</span>
        <badge><i class="fa-solid fa-circle"></i> Available for Work</badge>
      </h1>
    </div>
    <span class="description">
      I am a 17 year old boy passionate about web development and security computer science. With experience in web development,
      having developed various projects. I also have experience in computer security, having completed several machines on
      HackTheBox and TryHackme. Seek opportunities to improve my skills and knowledge. And I'm interested in working on
      challenging projects that allow me to Use my skills to the fullest.
    </span>
  </div>
  <div class="button_container">
    <a href="https://github.com/Mr-S4mura1" class="button"><i class="fa-brands fa-github-alt"></i> Github</a>
    <a href="#prt" class="button"><i class="fa-solid fa-folder"></i> Projects</a>
  </div>
</div>

<style>
  .banner {
    overflow: hidden;
    height: 100vh;
    background-image: url(Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navbar {
    width: 95%;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    color: #1d4273;
    align-items: center;
    margin: auto;
  }

  .navbar i {
    cursor: pointer;
  }

  .name {
    font-weight: bolder;
    font-size: clamp(1.2em, 2vw, 2em);
  }

  .text {
    margin: 6% 0px 0px 80px;
    width: 42%;
  }

  .text_title {
    margin: 20px 0;
    color: white;
    font-size: clamp(0.5em, 3.5vw, 1.5rem);
  }

  .text_title h1 span {
    color: #8f7367;
  }

  .description {
    color: #ddd;
    font-size: clamp(0.5em, 2vw, 1em);
    line-height: 23px;
  }

  badge {
    background-color: #092423;
    box-shadow: 0 0 25px #092423;
    font-size: clamp(0.25em, 1vw, 0.8em);
    padding: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 32%;
    min-width: 10%;
    gap: 4px;
    font-weight: 500;
    border-radius: 50cqh;
    margin: 5px 0px;
  }

  badge i {
    font-size: clamp(0.2em, 2vw, 0.5em);
    color: #3a5857;
    text-align: center;
  }

  .button_container {
    margin: 40px 10%;
    display: flex;
    gap: 20px;
  }

  .button {
    padding: 10px 20px;
    border: none;
    font-size: clamp(0.5em, 3vw, 0.9em);
    color: #fff;
    border-radius: 7px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }

  .button {
    background: #092423;
    box-shadow: 0 0 25px #092423;
  }

  .button:hover {
    box-shadow:
      0 0 5px #092423,
      0 0 25px #092423,
      0 0 50px #092423,
      0 0 100px #092423;
  }

  .navbar_list {
    background-color: #8f7367;
    box-shadow: 0 0 25px #8f7367;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding: 90px;
    border-left: 2px solid white;
    opacity: 0;
    visibility: hidden;

    transition:
      opacity 1s,
      visibility 1s;
  }

  .navbar_list nav ul {
    list-style: none;
    text-align: center;
  }

  .navbar_list nav ul li {
    margin: 60px 0;
  }

  .navbar_list nav ul li a {
    color: white;
    text-decoration: none;
  }

  .navbar_list nav ul li a:hover {
    border-bottom: 2px solid white;
  }

  .navbar_icon {
    z-index: 1;
    background-color: #091c38;
    padding: 15px;
    border-radius: 5px;
  }

  .navbar_icon:hover {
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 25px #091c38;
  }

  /* -------------------------------------------------------------------------- */
  /*                                MEDIA QUERIES                               */
  /* -------------------------------------------------------------------------- */
  @media (max-width: 480px) {
    /* Estilos para dispositivos móviles */
    .banner {
      text-align: center;
      height: 50vh;
    }

    .text {
      width: 70%;
      margin: auto;
    }

    .button_container {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 35%;
    }

    .button {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    badge {
      margin: 13px auto;
    }

    .navbar_list {
      height: 50vh;
    }

    .navbar_list nav ul {
      margin: auto;
    }

    .navbar_list nav ul li a {
      font-size: 10px;
    }

    .navbar_icon {
      padding: 8px;
      font-size: 12px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tabletas */
    .banner {
      text-align: center;
      height: 50vh;
    }

    .text {
      width: 70%;
      margin: auto;
    }

    .button_container {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 35%;
    }

    .button {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    badge {
      margin: 13px auto;
    }

    .navbar_list {
      height: 50vh;
    }

    .navbar_list nav ul {
      margin: auto;
    }

    .navbar_list nav ul li a {
      font-size: 10px;
    }

    .navbar_icon {
      padding: 8px;
      font-size: 12px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas pequeñas */
    .banner {
      text-align: center;
      height: 50vh;
    }

    .text {
      width: 70%;
      margin: auto;
    }

    .button_container {
      margin: 40px auto;
      display: flex;
      flex-direction: column;
      gap: 20px;
      max-width: 35%;
    }

    .button {
      font-size: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    badge {
      margin: 13px auto;
    }

    .navbar_list {
      height: 50vh;
    }

    .navbar_list nav ul {
      margin: auto;
    }

    .navbar_list nav ul li a {
      font-size: 10px;
    }

    .navbar_icon {
      padding: 12px;
      font-size: 14px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes */
    .banner {
      height: 60vh;
    }

    .navbar_list {
      height: 60vh;
    }
  }

  @media (min-width: 1201px) {
    /* Estilos para pantallas extra grandes */
    .banner {
      height: 100vh;
    }

    .navbar_list {
      height: 100vh;
    }
  }
</style>
<script src="../scripts/banner.js"></script>
