---

---

<div class="contact" id="contact">
  <h1>Contact Me</h1>
  <span>
    I am a web developer with passion for creating digital and unique experiences. Send me a message and answer you as soon as
    possible.
  </span>

  <span id="content">
    <i class="fa-regular fa-envelope"></i>
    david.s4mura1@gmail.com
    <i id="copy" class="fa-regular fa-copy"></i>
  </span>

  <div class="alert" id="mss">
    <span class="text">
      <i class="fa-regular fa-circle-check"></i>
      It has been copied correctly on the clipboard
    </span>
  </div>
</div>

<style>
  .contact {
    background-color: #101824;
    background-image: radial-gradient(rgba(153, 152, 152, 0.15) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    padding: 40px 0;
    position: relative;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }

  h1 {
    font-size: 50px;
    color: #121c2b;
    -webkit-text-stroke: 0.5px white;
  }

  span {
    text-align: center;
    color: white;
    width: 50%;
    line-height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  #copy {
    cursor: pointer;
  }

  .alert {
    position: absolute;
    right: 0;
    bottom: 20px;
    background-color: #1d4273;
    width: 30%;
    padding: 20px;
    border-radius: 10px 0 0 10px;
    visibility: hidden;
    opacity: 0;

    transition:
      opacity 1s,
      visibility 1s;
  }

  .alert span i {
    color: green;
    font-size: 40px;
  }

  .text {
    text-align: center;
    width: 100%;
  }

  @media (max-width: 480px) {
    /* Estilos para dispositivos móviles */
    .contact {
      height: 70vh;
    }

    .alert {
      left: 15%;
      width: 70%;
      border-radius: 10px 10px 10px 10px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tabletas */
    .contact {
      height: 70vh;
    }

    .alert {
      left: 15%;
      width: 70%;
      border-radius: 10px 10px 10px 10px;
      bottom: 50px;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas pequeñas */
    .contact {
      height: 60vh;
    }

    .alert {
      left: 25%;
      width: 50%;
      border-radius: 10px 10px 10px 10px;
      bottom: 50px;
    }
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes */
    .contact {
      height: 90vh;
    }

    .alert {
      left: 30%;
      width: 40%;
      border-radius: 10px 10px 10px 10px;
      bottom: 50px;
    }
  }
</style>
<script src="../scripts/contact.js"></script>
