---

---

<div class="footer">
  <span> © David Cardozo. All copyright are reserved</span>
</div>
<style>
  .footer {
    width: 100%;
    height: 100%;
    background-color: #060f0e;
    background-image: radial-gradient(
      rgba(116, 109, 109, 0.171) 2px,
      transparent 0
    );
    background-size: 30px 30px;
    background-position: -5px -5px;
  }

  .footer {
    height: 8vh;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
  }
</style>
