---
import Cards from "../components/Cards.astro";
---

<div class="projects" id="prt">
  <h1>My Projects</h1>
  <div class="container">
    <div class="cards">
      <div class="cards">
        <Cards
          title="Calculator"
          descrip="Develop an interactive calculator, with the following technologies"
          herramienta_uno="HTML"
          herramienta_dos="CSS"
          herramienta_tres="JS"
          fecha="24/12/2023"
          link="https://calculators4mura1.netlify.app/"
        />
      </div>

      <div class="cards">
        <Cards
          title="Disney"
          descrip="Develop Disney's main page, with the following technologies."
          herramienta_uno="ASTRO"
          herramienta_dos="CSS"
          herramienta_tres="JS"
          fecha="03/01/2024"
          link="https://disneyplusclons4mura1.netlify.app/"
        />
      </div>

      <div class="cards">
        <Cards
          title="Things to do"
          descrip="Develop a task list, developed with the following web technologies."
          herramienta_uno="HTML"
          herramienta_dos="CSS"
          herramienta_tres="JS"
          fecha="28/12/2023"
          link="https://tasks4mura1pr.netlify.app/"
        />
      </div>
      <div class="cards">
        <Cards
          title="Netflix"
          descrip="Develop the Netflix session start, with the following web technologies."
          herramienta_uno="HTML"
          herramienta_dos="CSS"
          herramienta_tres="JS"
          fecha="02/01/2024"
          link="https://netflixclons4mura1.netlify.app/"
        />
      </div>
      <div class="cards">
        <Cards
          title="Discord"
          descrip="Develop the main discord page, with the following web technologies."
          herramienta_uno="ASTRO"
          herramienta_dos="CSS"
          herramienta_tres="JS"
          fecha="05/01/2024"
          link="https://discordclons4mura1.netlify.app/"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .projects {
    background-color: #060f0e;
    background-image: radial-gradient(rgba(116, 109, 109, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    font-size: 50px;
    color: #8c6961;
    text-align: center;
  }

  .cards {
    width: 80%;
    margin: 30px auto 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 480px) {
    /* Estilos para dispositivos móviles */
    .cards {
      margin: 10px auto 0 auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .projects {
      height: 110vh;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    /* Estilos para tabletas */
    .cards {
      margin: 10px auto 0 auto;
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }

    .projects {
      height: 110vh;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    /* Estilos para pantallas pequeñas */
    .cards {
      margin: 10px auto 0 auto;
      display: grid;
      justify-content: center;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
    }

    .projects {
      height: 100vh;
    }
  }

  @media (min-width: 1025px) and (max-width: 1200px) {
    /* Estilos para pantallas grandes */
    .cards {
      margin: 10px auto 0 auto;
      display: grid;
      justify-content: center;
      gap: 5px;
      grid-template-columns: repeat(3, 1fr);
    }

    .projects {
      height: 100vh;
    }
  }
</style>
