---
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props; 

// Styles
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <script
      src="https://kit.fontawesome.com/cf1ad10ff3.js"
      crossorigin="anonymous"></script>
    <script
      src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"
    ></script>
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
